body {
	margin: 0; /* for full bleed of the masthead */
	font-family: Sans-serif;
}

a, a:visited {
	color: #000;
}

#masthead {
	font-family: Serif;
	background-color: #C6E1C0;
	padding: 6px 0;
}

#masthead h1, #masthead h2 {
	font-size: 12px;
	font-weight: bold;
	margin: 5px 0;
	text-transform: uppercase;
	letter-spacing: 1.6px;
}

#masthead-container, #content {
	min-width: 300px;
	max-width: 800px;
	margin: 0 auto;
}

#masthead h2 {
	float: right;
	margin: 0;
}

#hacklist {
	list-style-type: none;
	padding: 0;
	margin: 0;
	
}

#hacklist li {
	padding: 12px 0;
}

#hacklist h2 {
	margin: 0;
	font-size: 17px;
}

span {
	font-weight: bold;
	font-size: 80%;
	text-transform: uppercase;
}

.controls {
	float: right;
}

.detail h3 {
	font-style: italic;
}