body {
	margin: 0; /* for full bleed of the masthead */
	font-family: Sans-serif;
}

a, a:visited {
	color: #000;
}

#masthead {
	font-family: Serif;
	background-color: #C6E1C0;
	padding: 6px 0;
}

#masthead h1, #masthead h2 {
	font-size: 12px;
	font-weight: bold;
	margin: 5px;
	text-transform: uppercase;
	letter-spacing: 1.6px;
}

#masthead h1 {
	margin-left: 20px;
}

#masthead h2 {
	position: absolute;
	right: 20px;
	top: 6px;
}

#content { 
	margin: 0 20px 0 20px;
}

#hacklist {
	list-style-type: none;
	padding: 0;
	margin: 0;
	
}

#hacklist li {
	padding: 12px 20px;
}

#hacklist h2 {
	margin: 0;
	font-size: 17px;
}

span {
	font-weight: bold;
	font-size: 80%;
	text-transform: uppercase;
}

#add-hack {
	float: right;
}

.controls {
	float: right;
}