<!DOCTYPE html>
<html>
	<head>
		{% block head %}
			<title>Bounty Board - SF Python Hack Night</title>

			{% comment %}'inhead' is an optional block used for injecting stuff into the doc's head{% endcomment %}
			{% block inhead %}
			{% endblock inhead %}

			<link rel="stylesheet" type="text/css" href="/static/css/main.css" media="screen"/>
			<link rel="stylesheet" type="text/css" href="/static/css/backbone-forms.css" media="screen"/>
		{% endblock head %}
	</head>
	<body>
		{% block masthead %}
			<div id="masthead">
				<div id="masthead-container">
					<h2><a href="http://www.meetup.com/San-Francisco-Python-Hack-Night/">SF Python Hack Night</a></h2>
					<h1>{% block pagetitle %}<a href="/">Bounty Board</a>{% endblock pagetitle %}</h1>
				</div>
			</div>
		{% endblock masthead %}

		<div id="content">
			{% block contents %}{% endblock contents %}
		</div>
	</body>
</html>
