{% extends 'base.html' %}

{% block contents %}

<div id="rcol">
</div>
<div id="lcol">
	<button id="add-hack">New hack</button>
	<h1>Hacks</h1>
</div>

{% comment %}
FIXME: moving this stuff into the doc's head causes problems, like '$' not being defined.
{% endcomment %}

<script src="/static/js/jquery-1.7.1.min.js"></script>
<script src="/static/js/underscore-min.js"></script>
<script src="/static/js/backbone-min.js"></script>
<script src="/static/js/backbone-forms.js"></script>
<script src="/static/js/mustache.js"></script>
<script src="/static/js/Markdown.Converter.js"></script>
<script src="/static/js/bounty.js"></script>

<script>
$(document).ready( function() {
	bounty.home_view()
});
</script>
{% endblock %}
