{% extends 'base.html' %}

{% block pagetitle%}Hacks{%endblock%}

{% block contents %}
<div id="rcol">
</div>
<div id="lcol">
</div>

{% comment %}
FIXME: moving this stuff into the doc's head causes problems, like '$' not being defined.
{% endcomment %}

<script src="/static/js/jquery-1.7.1.min.js"></script>
<script src="/static/js/underscore-min.js"></script>
<script src="/static/js/backbone-min.js"></script>
<script src="/static/js/mustache.js"></script>

<script type="text/template" id="tpl-hack-list-item">
	<h2>[[ name ]]</h2>
	<p>[[ abstract ]]</p>
</script>

<script type="text/template" id="tpl-hack-detail">
	<h2>[[ name ]]</h2>
	<h3>[[ abstract ]]</h3>
	<p>[[ description ]]</p>
</script>
	
<script>
$(document).ready( function() {
	window.mustacheTemplate = function(id) {
		// hack: avoid Django's insistence on parsing all instances of {{ and }}
		return $(id).html().replace(/\[\[/g, '{% templatetag openvariable %}').replace(/\]\]/g, '{% templatetag closevariable %}')
	}
	
	// models
	window.Hack = Backbone.Model.extend({
		
	})

	// collections
	window.HackCollection = Backbone.Collection.extend({
		model: Hack,
		url: '/api/hacks',
	})

	// views
	window.HackListView = Backbone.View.extend({
		tagName: 'ul',
		id: 'hacklist',

		initialize: function() {
			this.model.bind("reset", this.render, this);
		},

		render: function(eventName) {
			_.each(this.model.models, function(hack) {
				// pass detailView down to list item views
				this.$el.append(new HackListItemView({model:hack, detailView: this.options.detailView}).render().el);
			}, this);
			return this;
		}
	})

	window.HackListItemView = Backbone.View.extend({
		tagName: 'li',
		template: mustacheTemplate('#tpl-hack-list-item'),

		render: function(eventName) {
			this.$el.html(Mustache.render(this.template, this.model.toJSON()))
			return this
		},

		highlight: function() {
			// unhighlight any previously-highlighted elements
			$('.highlight').removeClass('highlight')

			// style the element
			this.$el.addClass('highlight')

			// poke the detail view into refreshing
			this.options.detailView.newSelection(this.model)
		},

		events: {
			"click": "highlight",
		},
	})

	window.HackDetailView = Backbone.View.extend({
		tagName: 'div',
		template: mustacheTemplate('#tpl-hack-detail'),

		render: function(eventName) {
			this.$el.html(Mustache.render(this.template, this.model.toJSON()))
			
			return this
		},

		newSelection: function(hack) {
			this.model = hack
			this.render()
		},
	})

	// routes
	var AppRouter = Backbone.Router.extend({
		routes: {
			'': 'list',
		},

		list: function() {
			// create the detail view and hang on to a reference to it
			this.hackDetailView = new HackDetailView({el: $('#rcol')})
			
			this.hackList = new HackCollection()
			// provide detail view to hack list, so it can communicate with it when the selection changes
			this.hackListView = new HackListView({model: this.hackList, detailView: this.hackDetailView})
			this.hackList.fetch()
			$('#lcol').html(this.hackListView.render().el);

		},
	})

	// run it
	var app = new AppRouter()
	Backbone.history.start()
});
</script>
{% endblock %}
